<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title th:text="#{form.title}">Visitor Form</title>
  <meta http-equiv="Content-Language" content="da,en">
  <link rel="stylesheet" type="text/css" href="/static/css/form.css">
</head>
<body>
<div class="sprog">
  <a href="?lang=en">English</a> | <a href="?lang=da">Dansk</a>
</div>
<form class="databox" action="/visitorSubmit" th:object="${visitor}" method="post" enctype="multipart/form-data">
  <div>
    <label for="visitorFirstName" th:text="#{form.firstName}">First Name:</label>
    <input type="text" id="visitorFirstName" th:field="*{firstName}" required>
  </div>
  <div>
    <label for="visitorLastName" th:text="#{form.lastName}">Last Name:</label>
    <input type="text" id="visitorLastName" th:field="*{lastName}" required>
  </div>
  <div>
    <label for="causeForVisit" th:text="#{form.causeForVisit}">Cause for Visit:</label>
    <input type="text" id="causeForVisit" th:field="*{causeForVisit}" required>
  </div>
  <div>
    <label for="visitorlicencePassportNr" th:text="#{form.licencePassportNr}">ID Number:</label>
    <input type="text" id="visitorlicencePassportNr" th:field="*{licencePassportNr}" required>
  </div>
  <div>
    <label for="visitorLocation" th:text="#{form.location}">Location:</label>
    <input type="text" id="visitorLocation" th:field="*{location}" required>
  </div>
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <div>
      <video id="video" autoplay></video>
      <button type="button" id="snap">Snap Photo</button>
    </div>
    <canvas id="capturedImage" width="320" height="240"></canvas>
    <input type="hidden" id="hiddenPictureUrl" name="pictureUrl" th:field="*{pictureUrl}" required>
  </div>
  <div th:replace="includes/consentText :: consentFragment"></div>
  <div>
    <input type="hidden" name="accountStatus" value="pending">
    <input type="checkbox" id="dataConsent" name="dataConsent" required>
    <label for="dataConsent" th:text="#{form.dataConsent}">I give my consent to store my data.</label>
  </div>
  <button type="submit" th:text="#{form.submit}">Submit</button>
</form>
<script src="/static/javascript/capture.js"></script>
</body>
</html>
