<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title th:text="#{adminDashboard.title}">Admin Dashboard</title>
  <meta http-equiv="Content-Language" content="da,en">
  <link rel="stylesheet" type="text/css" href="/static/css/database.css">
</head>
<body>
<div class="sprog">
  <a href="?lang=en">English</a> | <a href="?lang=da">Dansk</a>
</div>
  <div>
    <div class="navbox">
      <ul class="nav">
        <li><a href="/administrator/dashboard" th:text="#{adminDashboard.backHome}">Tilbage til Hjem</a></li>
       <li><a href="/administrator/view-database" th:text="#{adminDashboard.backDatabaseView}">Tilbage til Databasevisning</a></li>
      </ul>
    </div>
  <div class="tabeltext">
    <h1 th:text="#{adminDashboard.title}">Admin Dashboard</h1>
    <h2 th:text="#{adminDashboard.administrators}">Administratorer</h2>
  </div>

  <!-- Add the search form -->
  <form id="searchForm">
    <input type="text" id="keywordInput" name="keyword" placeholder="Search by name">
    <button type="submit">Search</button>
  </form>

  <table>
    <tr>
      <th th:text="#{adminDashboard.adminId}">Administrator ID</th>
      <th th:text="#{adminDashboard.firstName}">Fornavn</th>
      <th th:text="#{adminDashboard.lastName}">Efternavn</th>
      <th th:text="#{adminDashboard.licencePassportNr}">Kørekort/Pasnummer</th>
      <th th:text="#{adminDashboard.location}">Lokation</th>
      <th th:text="#{adminDashboard.pictureId}">Billede ID</th>
      <th th:text="#{adminDashboard.username}">Brugernavn</th>
      <th th:text="#{adminDashboard.action}">Handling</th>
    </tr>
    <tr th:each="administrator : ${administrators}">
      <td th:text="${administrator.personId}"></td>
      <td th:text="${administrator.firstName}"></td>
      <td th:text="${administrator.lastName}"></td>
      <td th:text="${administrator.licencePassportNr}"></td>
      <td th:text="${administrator.location}"></td>
      <td th:text="${administrator.pictureUrl}"></td>
      <td th:text="${administrator.userName}"></td>
      <td><a th:href="@{/admin/edit-administrator/(id=${administrator.personId})}" th:text="#{adminDashboard.edit}">Rediger</a></td>
    </tr>
  </table>
  <script>
    document.getElementById('searchForm').addEventListener('submit', function(event) {
      event.preventDefault(); // Prevent form submission
      const keyword = document.getElementById('keywordInput').value;
      const url = '/administrator/admin-database?keyword=' + encodeURIComponent(keyword);
      window.location.href = url;
    });
  </script>
</div>
</body>
</html>
