<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title th:text="#{adminDashboard.title}">Admin Dashboard</title>
</head>
<body>
<div>
  <a href="?lang=en">English</a> | <a href="?lang=da">Dansk</a>
</div>
<div>
  <h1 th:text="#{adminDashboard.title}">Admin Dashboard</h1>
  <a href="/administrator/driver-requests">Go to Driver Requests</a> <!-- Add this line for the button -->
  <table>
    <tr>
      <th th:text="#{adminDashboard.driverId}">Driver ID</th>
      <th th:text="#{adminDashboard.firstName}">First Name</th>
      <th th:text="#{adminDashboard.lastName}">Last Name</th>
      <th th:text="#{adminDashboard.licencePassportNr}">Licence Passport Nr</th>
      <th th:text="#{adminDashboard.location}">Location</th>
      <th th:text="#{adminDashboard.pictureUrl}">Picture ID</th>
      <th th:text="#{adminDashboard.personType}">Person Type</th>
      <th th:text="#{adminDashboard.transport}">Transport</th>
      <!-- Other fields -->
      <th th:text="#{adminDashboard.visits}">Visits</th>
    </tr>
    <tr th:each="person : ${drivers}">
      <td th:text="${person.personId}"></td>
      <td th:text="${person.firstName}"></td>
      <td th:text="${person.lastName}"></td>
      <td th:text="${person.licencePassportNr}"></td>
      <td th:text="${person.location}"></td>
      <td th:text="${person.pictureUrl}"></td>
      <td th:text="${person.person_type}"></td>
      <!-- Assuming you have transport service and method getTransportNameById in your server side -->
      <td th:text="${@transportCompanyService.getTransportNameById(person.transportCompany.transportCompanyId)}"></td>
      <!-- Other fields -->
      <!-- Begin visits table -->
      <td>
        <table>
          <tr>
            <th th:text="#{adminDashboard.visitTime}">Visit Time</th>
          </tr>
          <tr th:each="visit : ${person.visitsList}">
            <td th:text="${visit.check_in_time}"></td>
          </tr>
        </table>
      </td>
      <!-- End visits table -->
      <td><a th:href="@{/admin/edit-driver/(id=${person.personId})}" th:text="#{adminDashboard.edit}">Edit</a></td>
    </tr>
  </table>
</div>
</body>
</html>
