<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{adminDashboard.title}">Admin Dashboard</title>
</head>
<body>
<div>
    <a href="?lang=en">English</a> | <a href="?lang=da">Dansk</a>
</div>
<div>
    <h1 th:text="#{adminDashboard.title}">Admin Dashboard</h1>
    <a href="/administrator/driver-database">Go to Driver Database</a>
    <a href="/administrator/visitor-database">Go to Visitor Database</a>
    <a href="/administrator/admin-database">Go to Administrator Database</a>
</div>
</body>
</html>
