<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title th:text="#{form.title}">Driver Form</title>
  <meta http-equiv="Content-Language" content="da,en">
  <link rel="stylesheet" type="text/css" href="/static/css/driver.css">

</head>
<body>
<div class="sprog">
  <a href="?lang=en">English</a> | <a href="?lang=da">Dansk</a>
</div>
<form class="databox" action="/driverSubmit" th:object="${driver}" method="post" enctype="multipart/form-data">
  <div>
    <label for="driverFirstName" th:text="#{form.firstName}">First Name:</label>
    <input type="text" id="driverFirstName" th:field="*{firstName}" required>
  </div>
  <div>
    <label for="driverLastName" th:text="#{form.lastName}">Last Name:</label>
    <input type="text" id="driverLastName" th:field="*{lastName}" required>
  </div>
  <div>
    <label for="driverlicencePassportNr" th:text="#{form.licencePassportNr}">ID Number:</label>
    <input type="text" id="driverlicencePassportNr" th:field="*{licencePassportNr}" required>
  </div>
  <div>
    <label for="driverLocation" th:text="#{form.location}">Location:</label>
    <select id="driverLocation" th:field="*{location}">
      <option th:each="location : ${locations}" th:value="${location}" th:text="${location}"></option>
    </select>
  </div>
  <div>
    <label for="driverTransportCompany" th:text="#{form.transportCompany}">Transport Company:</label>
    <select id="driverTransportCompany" th:field="*{transportCompany.transportCompanyId}">
      <option th:each="company : ${companies}" th:value="${company.transportCompanyId}" th:text="${company.name}"></option>
    </select>
  </div>
  <div style="display: flex; justify-content: space-between; align-items: center;">
    <div>
      <video id="video" autoplay></video>
      <button type="button" id="snap">Snap Photo</button>
    </div>
    <canvas id="capturedImage" width="320" height="240"></canvas>
    <input type="hidden" id="hiddenPictureUrl" name="pictureUrl" th:field="*{pictureUrl}" required>
  </div>
  <div style="height: 200px; width: 100%; overflow-y: scroll; border: 1px solid black; padding: 5px; margin-bottom: 10px;">
    Ved at give tilladelse til opbevaring af dine data bekræfter du, at du accepterer, at vi registrerer og gemmer dine oplysninger i vores sikre database. Disse oplysninger vil blive brugt til at finde den bedste transportmulighed for dig.
  </div>
  <div>
    <input type="checkbox" id="dataConsent" name="dataConsent" required>
    <label for="dataConsent" th:text="#{form.dataConsent}">I give my consent to store my data.</label>
  </div>
  <button type="submit" th:text="#{form.submit}">Submit</button>
</form>
</body>
</html>

<script src="/static/script.js"></script>
</body>
</html>
