<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Enforce UTF-8 encoding -->
    <meta charset="UTF-8"/>
    <title th:text="#{index.title}">Home</title>
    <!-- Tell the browser to include the "Accept-Language" header in requests -->
    <meta http-equiv="Content-Language" content="da,en">
    <!-- Link the CSS file -->
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
<!-- Language switcher -->
<div>
    <a href="?lang=en">English</a> | <a href="?lang=da">Dansk</a>
</div>
<div class="logo">
    <img src="../static/intec_logo.png">
</div>
<section class="selectbox">
<h1 th:text="#{index.welcome}">Welcome!</h1>
<p th:text="#{index.selectRole}">Select your role:</p>
<a th:href="@{/driverForm}">
    <button th:text="#{index.button.driver}">Driver</button>
</a>
<a th:href="@{/visitorForm}">
    <button th:text="#{index.button.visitor}">Visitor</button>
</a>
<a th:href="@{/administrator/login}">
    <button th:text="#{index.button.adminLogin}">Administrator Login</button>
</a>
</section>
</body>
</html>
