<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Driver and Visitor Form</title>
</head>
<body>
<div>
    <h1>Driver and Visitor Form</h1>
    <form action="#" th:action="@{/submit}" th:object="${driver}" method="post">
        <div>
            <label for="driverFirstName">First Name:</label>
            <input type="text" id="driverFirstName" th:field="*{firstName}" required>
        </div>
        <div>
            <label for="driverLastName">Last Name:</label>
            <input type="text" id="driverLastName" th:field="*{lastName}" required>
        </div>
        <div>
            <label for="driverCompanyName">Company Name:</label>
            <input type="text" id="driverCompanyName" th:field="*{companyName}" required>
        </div>
        <div>
            <label for="driverPictureId">Picture/Photo:</label>
            <input type="text" id="driverPictureId" th:field="*{pictureId}" required>
        </div>
        <div>
            <label for="driverLicencePassportNr">Passport/Driver's License Number:</label>
            <input type="text" id="driverLicencePassportNr" th:field="*{driver_licence_passport_nr}" required>
        </div>
        <div>
            <label for="driverLocation">Location:</label>
            <input type="text" id="driverLocation" th:field="*{location}" required>
        </div>
        <button type="submit">Submit</button>
    </form>
    <a href="/register">Create an account</a>
</div>
</body>
</html>
