<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="consentFragment">
  <div id="consentText" style="height: 200px; width: 100%; overflow-y: scroll; border: 1px solid black; padding: 5px; margin-bottom: 10px;">
    Ved at indsende denne formular giver du os tilladelse til at opbevare og behandle dine personlige oplysninger. De indsamlede oplysninger omfatter dit navn.
    Dine personlige oplysninger vil blive opbevaret i en periode på 3 år, hvorefter de vil blive slettet.
    Vi anvender disse oplysninger til at forbedre vores service og tilbyde dig relevante produkter og tilbud. Du har ret til til enhver tid at anmode om indsigt i, berigtigelse eller sletning af dine personoplysninger. Du kan også gøre indsigelse mod behandlingen af dine personoplysninger og har ret til at trække dit samtykke tilbage.
    Vores behandling af personoplysninger sker i overensstemmelse med gældende persondatalovgivning.
  </div>
</div>
</body>
</html>
